<button  <%= 'disabled' if @disabled %> type='<%=@type%>' class="<%=@attrs[:class]%> <%= @size_classes %>">
<% if @icon && @position.nil? || @position != 'right' %>
  <%= dataIcon %>
<%end%>
  <%= data %>
<%if @icon && @position === 'right'%>
  <%= dataIcon %>
<%end%>
</button>
