<div data-controller="clipboard" data-clipboard-success-value="<%= @success %>" data-clipboard-error-value="<%= @error %>" class="<%= @attrs[:class] %>">
  <%= content %>
  <%= render(UI::Codeblock::PopoverComponent.new(type: :success)) do %>
    <%= @success %>
  <% end %>
  <%= render(UI::Codeblock::PopoverComponent.new(type: :error)) do %>
    <%= @error %>
  <% end %>
</div>
