<div class="flex items-center space-x-2">
    <%= render(AvatarComponent.new(size: :xs)) do %>
        <%= render(Avatar::FallbackComponent.new) do%>
            JD
        <%end%>
    <% end %>
    <%= render(AvatarComponent.new(size: :sm)) do %>
        <%= render(Avatar::FallbackComponent.new) do%>
            JD
        <%end%>
    <% end %>
    <%= render(AvatarComponent.new(size: :md)) do %>
        <%= render(Avatar::FallbackComponent.new) do%>
            JD
        <%end%>
    <% end %>
    <%= render(AvatarComponent.new(size: :lg)) do %>
        <%= render(Avatar::FallbackComponent.new) do%>
            JD
        <%end%>
    <% end %>
    <%= render(AvatarComponent.new(size: :xl)) do %>
        <%= render(Avatar::FallbackComponent.new) do%>
            JD
        <%end%>
    <% end %>
</div>    