<div class="flex items-center space-x-2">
    <%= render(UI::Avatar::Component.new(size: :xs)) do %>
        <%= render(UI::Avatar::FallbackComponent.new) do %>
            JD
        <% end %>
    <% end %>
    <%= render(UI::Avatar::Component.new(size: :sm)) do %>
        <%= render(UI::Avatar::FallbackComponent.new) do %>
            JD
        <% end %>
    <% end %>
    <%= render(UI::Avatar::Component.new(size: :md)) do %>
        <%= render(UI::Avatar::FallbackComponent.new) do %>
            JD
        <% end %>
    <% end %>
    <%= render(UI::Avatar::Component.new(size: :lg)) do %>
        <%= render(UI::Avatar::FallbackComponent.new) do %>
            JD
        <% end %>
    <% end %>
    <%= render(UI::Avatar::Component.new(size: :xl)) do %>
        <%= render(UI::Avatar::FallbackComponent.new) do %>
            JD
        <% end %>
    <% end %>
</div>
