<%= render AccordionComponent.new(class: 'space-y-1') do |accordion| %>
  <%= accordion.with_item(class: "data-[accordion-open-value=true]:bg-muted hover:bg-muted rounded-lg pb-3", rotate_icon: 135) do |item| %>
    <%= item.with_trigger(class: "w-full rounded-lg") do |trigger| %>
      <div class="p-6 pb-3 pl-16 relative text-left">
        <%= trigger.with_icon(class: "absolute left-6 top-6") do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        <% end %>
        <p class="font-medium">What is PhlexUI</p>
      </div>
    <% end %>

		<%= item.with_body do %>
      <p class="pl-16 pr-4 pb-4 text-muted-foreground">
        PhlexUI is a UI component library for Ruby devs who want to build better, faster.
      </p>
    <% end %>
  <% end %>

  <%= accordion.with_item(class: "data-[accordion-open-value=true]:bg-muted hover:bg-muted rounded-lg pb-3", rotate_icon: 135) do |item| %>
    <%= item.with_trigger(class: "w-full rounded-lg") do |trigger| %>
      <div class="p-6 pb-3 pl-16 relative text-left">
        <%= trigger.with_icon(class: "absolute left-6 top-6") do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        <% end %>
        <p class="font-medium">Can I use it with Rails?</p>
      </div>
    <% end %>

		<%= item.with_body do %>
      <p class="pl-16 pr-4 pb-4 text-muted-foreground">
        Yes, PhlexUI is pure Ruby and works great with Rails. It's a Ruby gem that you can install into your Rails app.
      </p>
    <% end %>
  <% end %>
<% end %>
